# Server
PORT=5000
NODE_ENV=development

# Database
DB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_USER=
DB_PASSWORD=
DB_NAME=test

# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# Frontend URL (CORS)
CLIENT_URL=http://localhost:3000

# File Upload
UPLOAD_PATH=src/uploads
MAX_FILE_SIZE=5242880
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=